<div class="employee">
    <h1>update roster for: <span>{{theUsername}}</span></h1>

    <form action="/waiters/{{theUsername}}" method="post">
     <label>
            <input type="checkbox" name="days" value=1> Monday
        </label><br>
        <label>
            <input type="checkbox" name="days" value=2> Tuesday
        </label><br>
        <label>
            <input type="checkbox" name="days" value=3> Wednesday
        </label><br>
        <label>
            <input type="checkbox" name="days" value=4> Thursday
        </label><br>
        <label>
            <input type="checkbox" name="days" value=5> Friday
        </label><br>
    
       <div> <button type="submit">submit</button></div>
    </form>
     <a href="/days" class="back">Cancel</a> 
    {{#if addMsg}}
    <div class="success-msg">
      <i class="fa fa-check"></i>
      {{addMsg}}
    </div>
    {{/if}}
     <script>

        setTimeout(function () {
        document.querySelector('.success-msg').style.display = 'none'; },
        3500);
      </script>
</div>