<div class="admin">
    <h1>Roster</h1>
    <table>
  <tr>
    <th>DAYS</th>
    <th>EMPLOYEES</th>
  </tr>
  <tr>
    <td>MONDAY</td>
    <td>Asiphe</td>
  </tr>
   <tr>
    <td>TUESDAY</td>
    <td>Asiphe</td>
  </tr>
   <tr>
    <td>WEDNESDAY</td>
    <td>Asiphe</td>
  </tr>
   <tr>
    <td>THURSDAY</td>
    <td>Asiphe</td>
  </tr>
   <tr>
    <td>FRIDAY</td>
    <td>Asiphe</td>
  </tr>
   <tr>
    <td>SATURDAY</td>
    <td>Asiphe</td>
  </tr>
  

</table>

<form action="" method="get">
  <button type="submit">add employee</button>
</form>
</div>