<div class="admin">
    <h1>Roster</h1>
    <table>
  <tr>
    <th>EMPLOYEES</th>
    <th>DAYS</th>
    <th>SELECT DAYS</th>
  </tr>
  {{#each waitersList}}
  <tr>
    <td>{{username}}</td>
    <td>MONDAY</td>
    <td> <button>select</button> </td>
  </tr>
  
  {{/each}}

</table>

 <div class="nav">
		<a href="/create"><button>new employee</button></a>
	</div>
</div>